template(name='home')
  ul
    li
      a(href='/problem') Problem
    li
      a(href='/naive') Naive Solution
    li
      a(href='/withSessions') With Sessions
    li
      a(href='/withoutSessions') Without Sessions
    li
      a(href='/withKnockout') Enter Knockout
    li
      a(href='/withKnockoutState') Maintaining State
    li
      a(href='/testsResults') Testing ViewModels
    li
      a(href='/replay') Replay
    li
      a(href='/prototype') Prototype