#collapseOne
  #controls
    padding 20px
  #h-slider
    width 400px
  a.guide
    margin-left 10px
    margin-right 10px
    margin-top -5px
#replay
  padding 20px

  textarea
    width 600px

  .colorPreview
    float left
    border 1px solid black
    margin-left -1px
    height 100px
    width 100px