template(name='withoutSessions')
  | First Name:
  input#inputFirst(type='text', value='{{firstName}}')
  br
  | Last Name:
  input#inputLast(type='text', value='{{lastName}}')

  div Hello {{fullName}}
  button.btn.btn-primary(disabled='{{enterDisabled}}') Enter Site
