template(name='naive')
  | First Name:
  input#inputFirst(type='text')
  br
  | Last Name:
  input#inputLast(type='text')

  #fullName
  button#buttonEnter.btn.btn-primary(disabled='disabled') Enter Site
